.reactTemplateBrowser-Browser {
  background-color: #eaeaea;
}

.reactTemplateBrowser-Browser:after,
.reactTemplateBrowser-TemplatePane:after,
.reactTemplateBrowser-Browser-filterContainer:after {
  content: "";
  display: table;
  clear: both;
}

.reactTemplateBrowser-Browser-filterContainer > div {
  float: right;
  margin: 12px 5px;
}