.reactTemplateBrowser-CostSwitch {
  line-height: 1;
}

.reactTemplateBrowser-CostSwitch-pricingSwitcher {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid white;
  border-radius: 3px;
  overflow: hidden;
}

.reactTemplateBrowser-CostSwitch-pricingSwitcher > label {
  font-weight: normal;
  padding: 3px 5px;
  margin: 0;
  cursor: pointer;
}

.reactTemplateBrowser-CostSwitch-pricingSwitcher > label.active {
  background: white;
  cursor: default;
}

.reactTemplateBrowser-CostSwitch-pricingSwitcher > label > input {
  display: none;
}
