.reactTemplateBrowser-PaginationPane {
  display: block;
  text-align: center;
  background-color: #eaeaea;
}
.reactTemplateBrowser-PaginationPane-nav {
  display: inline-block;
  margin: 12px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.reactTemplateBrowser-PaginationPane-nav[disabled],
.reactTemplateBrowser-PaginationPane-nav[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}

.reactTemplateBrowser-PaginationPane-pageLink {
  display: inline-block;
  margin: 0 4px;
  border: 1px solid transparent;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.reactTemplateBrowser-PaginationPane-pageLink:hover {
  background-color: #fff;
}

.reactTemplateBrowser-PaginationPane-pageLink.active-page,
.reactTemplateBrowser-PaginationPane-pageLink.active-page:hover {
  border-color: #999;
  background-color: transparent;
  cursor: default;
}
