.reactTemplateBrowser-TagPane {
  background: white;
  padding: 15px;
  font-family: "Segoe UI",Arial,Helvetica,sans-serif;
  text-align: center;
}

a.reactTemplateBrowser-TagPane-tag{
  color: #222;
  font-weight: 600;
  margin-left: 1px;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid transparent;
  display: inline-block;
}

.reactTemplateBrowser-TagPane-tag:hover {
  background: #eee;
  color: #555;
  border: 1px solid #b5b5b5;
}

.reactTemplateBrowser-TagPane-tag.active-tag,
.reactTemplateBrowser-TagPane-tag.active-tag:hover {
  background: #008db4;
  color: #fff;
  border-color: #008db4;
}
