.reactTemplateBrowser-Template {
  overflow: hidden;
  padding: 1px;
  box-sizing: content-box;
}

.reactTemplateBrowser-Template-previewArea {
  position: relative;
  height: 135px;
}

.reactTemplateBrowser-Template-priceOrPlan {
  float: right;
  margin-right: 10px;
}

.reactTemplateBrowser-Template-duration {
  float: left;
  margin-left: 10px;
}

.reactTemplateBrowser-Template-trialRibbon {
  background-color: #018cB7;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: -2.15em;
  top: 0.5em;
  -webkit-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  content: "";
  color: #fff;
  z-index: 1;
  padding: 2px 2.5em 2px 2.3em;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.reactTemplateBrowser-Template-upgradeMessage {
  display: block;
  text-align: center;
}

.reactTemplateBrowser-Template-upgradeLink {
  display: inline-block;
  color: white;
  padding: 1px 4px;
  margin: -1px auto;
  background: #b70000;
  border-radius: 3px;
}

.reactTemplateBrowser-Template-upgradeLink:hover {
  background: #018cB7;
}
