.reactTemplateBrowser-Template-previewArea {
  position: relative;
  height: 135px;
}

.reactTemplateBrowser-Template .reactTemplateBrowser-LoadingSpinner {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.reactTemplateBrowser-Template-priceOrPlan {
  float: right;
  margin-right: 10px;
}

.reactTemplateBrowser-Template-duration {
  float: left;
  margin-left: 10px;
}

.reactTemplateBrowser-Template-trialRibbon {
  background-color: #018cB7;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: -2.15em;
  top: 0.5em;
  -webkit-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  content: "";
  color: #fff;
  z-index: 1;
  padding: 2px 2.5em 2px 2.3em;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.reactTemplateBrowser-Template-ribbonPlaceholder {
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  overflow: hidden;
}

.reactTemplateBrowser-Template.disabled-template .reactTemplateBrowser-Template-previewImage {
  filter: grayscale(100%);
  opacity: 0.5;
}
