.reactTemplateBrowser-Template-previewArea {
  position: relative;
  height: 135px;
}

.reactTemplateBrowser-Template .reactTemplateBrowser-LoadingSpinner {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.reactTemplateBrowser-Template-priceOrPlan {
  float: right;
  margin-right: 10px;
}

.reactTemplateBrowser-Template-duration {
  float: left;
  margin-left: 10px;
}
