.reactTemplateBrowser-TemplatePane {
  padding: 20px 0;
  background: transparent;
}

.reactTemplateBrowser-TemplatePane-templateField {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
}

